* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(247, 239, 242);
    transition: background-color .5s;
    
}
.navbar .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(189, 214, 214);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
  }
  
.navbar .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #5e5d5d;
    display: block;
    transition: 0.3s;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
.navbar .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .navbar .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 10px 16px;
    color: rgb(116, 109, 116);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.navbar{
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgb(233, 213, 233);
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 20px;
}
.navbar ul li a{
	font-size: 15px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color: rgb(7, 7, 7);
	padding: 6px 12px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active
{
    background-color: rgb(238, 199, 208);
    border-radius: 1px;
}
.navbar ul li a:hover{
	background: rgb(207, 173, 173);
	border-radius: 1px;
}
.container {
    background-image: url('https://cdn.quotesgram.com/img/9/98/207225402-o-DONATING-TO-CHARITY-facebook.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    background-size: contain;
    height: 60vh;
    width: 90vw;
    margin-left: 90px;
}
.buttons button{
	height: 60px;
	width: 165px;
	font-size: 20px;
	color: #f1e9e9;
	background : rgb(171, 143, 184);
	outline: none;
	cursor: pointer;
	border: 3px solid rgb(157, 131, 161);
	border-radius: 5px;
	transition: .4s;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.buttons .btn2{
    position: absolute;
	margin-left: 610px;
    margin-top: 70px;
}
.buttons button:hover{
	background: rgb(212, 199, 161);
    color: #5e5d5d;
}